.pg-imatge { grid-area: imatge; }
.pg-nom { grid-area: nom; }
.pg-preu { grid-area: preu; }
.pg-desc { grid-area: desc; }
.pg-compra { grid-area: compra; }

@media (min-width: 800px){
    .pg-container {
        display: grid;
        grid-template-areas:
                'imatge nom'
                'imatge preu'
                'imatge desc'
                'imatge compra';
        grid-gap: 10px;
        background-color: white;
        padding: 10px;
        box-shadow: 2px 2px 10px #666;;
    }
}
@media (max-width: 800px){
    .pg-container {
        display: grid;
        grid-template-areas:
                'nom preu'
                'imatge'
                'idesc'
                'compra';
        grid-gap: 10px;
        background-color: #FFE4E1;
        padding: 10px;
    }
}
.pg-container > div {
   /* background-color: rgba(255, 255, 255, 0.8);*/
    padding: 20px 0;
    vertical-align: center;
}

.pg-container .pg-imatge{
    text-align: center;
}

.pg-container .pg-preu{
    font-size: 46px;
    font-weight: bold;
}

.pg-container .pg-nom{
    font-size: 35px;
}

/*.mySlides{
    background-color: #f1deea;
    width: 350px;
    height: 350px;
    margin: 8px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.3s;
}*/




