body{
    font-size: 12px;
    /*font-family: 'Coming Soon', cursive;*/
    font-family: 'Montserrat', sans-serif;
}
.w3-bar{
    background: url("../assets/images/fonsBarraSDBOP.png");
    background-size: 70px 70px;
    height: 56px;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
    /*position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;*/
}

.dropdown-content-right{
    right:5px;
}

.w3-bar-item.navbar-item{
    height: inherit !important;
    padding: 0;
    -webkit-text-stroke-color: #111111;
}

.w3-button{
    color: #F7819F;
}

.navbar-button{
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    height: inherit !important;
    font-size: 12px;
    text-transform: uppercase;
}

.w3-button:hover{
    color: #B03A2E !important;
    background-color: #FFE4E1 !important;
    transition: 0.3s;

}

.w3-button.navbar-button:hover, .w3-dropdown-hover:hover > .w3-button.navbar-button:first-child{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #B03A2E;
    color: #B03A2E !important;
    background-color: #FFE4E1 !important;
    transition: 0.3s;
}

img#logo{
    width: 170px;
    height: 40px;
}

button.nav-btn{
    border: none;
    outline: none;
    background-color: initial;
    color: #F7819F;
    transition: 0.5s;
    margin-left: 10px;
    margin-right: 10px;
    transform: translateY(17%);
}

button.nav-btn:hover, .w3-dropdown-hover:hover > button.nav-btn:first-child{
    color: #B03A2E !important;
    transition: 0.3s;
}

button.nav-btn:hover{
    color: #B03A2E;
}

