{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/shop/bag.css') }}">
{% endblock %}

{% block content %}

    <div class="w3-container">
        <h2>Cistell de Compra:</h2>
        <p>Per eliminar el producte, clica a la "x":</p>
        <ul class="w3-ul w3-card-4">

            {# Mirar quina es la manera de posar els productes seleccionats anteriorment #}

            <li class="w3-display-container">Flam <span onclick="this.parentElement.style.display='none'" class="w3-button w3-transparent w3-display-right">&times;</span></li>
            <li class="w3-display-container">Galetes de Llimona <span onclick="this.parentElement.style.display='none'" class="w3-button w3-transparent w3-display-right">&times;</span></li>
            <li class="w3-display-container">Bastonets <span onclick="this.parentElement.style.display='none'" class="w3-button w3-transparent w3-display-right">&times;</span></li>
        </ul>
    </div>

{% endblock %}

{#
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/shop/bag.js') }}"></script> S'HA DE CREAR AQUEST JS
{% endblock %}
#}