html {
	font-size: 16px;
	font-family: 'Coming Soon', cursive;
}

body {

	background-color: #FFFFFF;
	margin: 0 0 0 0;
}

.social-bar{
	position: fixed;
	right: 0;
	top: 45%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: #111111;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
	background: #FFE4E1;
}

.icon:first-child{
	border-radius: 0.5rem 0 0 0;
}

.icon:last-child{
	border-radius: 0 0 0 0.5rem;
}

.icon:hover{
	padding-right: 3rem;
	border-radius: 0.5rem 0 0 0.5rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42); 
}

/*-webkit-writing-mode: vertical-lr;
	float: left; */
	