{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/user/comandes.css') }}">
{% endblock %}

{% block content %}

    <div class = "w3-center titolDecorat"> <h2>Les meves comandes</h2> </div>

    <br>

    <ul class="w3-ul w3-card-4">

        {# Mirar quina es la manera de posar els productes seleccionats anteriorment #}

        <li class="comanda">Flam <span onclick="this.parentElement.style.display='none'" class="w3-button w3-transparent w3-display-right">&times;</span></li>
        <li class="comanda">Galetes de Llimona <span onclick="this.parentElement.style.display='none'" class="w3-button w3-transparent w3-display-right">&times;</span></li>
        <li class="comanda">Bastonets <span onclick="this.parentElement.style.display='none'" class="w3-button w3-transparent w3-display-right">&times;</span></li>
    </ul>

{% endblock %}





{#
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/user/comandes.js') }}"></script>
{% endblock %}
#}